header {
  h1 {
    font-family: "Combo", sans-serif;
    text-align: center;
    width: 80%;
    margin: 40px auto;
    
    @include md {
      font-size: 45px;
      width: 60%;
    }

    span {
      font-family: "Poppins", sans-serif;
      color: red;
    }

    animation-name: bounce;
    animation-timing-function: linear;
    animation-duration: 2.8s;
    animation-iteration-count: infinite;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0);
  }
}