header {
  h1 {
    text-align: center;
    width: 80%;
    margin: 20px auto;
    font-size: 22px;
    
    @include md {
      font-size: 45px;
      width: 60%;
    }

    span {
      font-family: "Combo", sans-serif;
      color: red;
    }
  }
}

